<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Coach Home</title>

</head>
<body>
    <h1>Swimmer Home</h1>

    <p><a asp-controller="Swimmer" asp-action="AddProfile">Add Profile</a></p>
    <p><a asp-controller="Swimmer" asp-action="AllSession">Sign up for a session</a></p>
    <p><a asp-controller="Swimmer" asp-action="CheckReport">Check progress report</a></p>

</body>
</html>
