@model CourseProject_SoftwareArchitecture.Models.Lesson
<h2>Add a Lesson</h2>
<form asp-controller="Admin" asp-action="AddLesson" method="post">
    <label asp-for="SkillLevel"></label>
    <input asp-for="SkillLevel" />
    <br />
    <label asp-for="Tuition"></label>
    <input asp-for="Tuition" />
    <br />
    <button type="submit">Add Lesson</button>
</form>