@model Microsoft.AspNetCore.Identity.IdentityRole
<p class="text-info lead">Fill out all fields</p>
<form asp-controller="Admin" asp-action="AddRole" method="post" class="form-horizontal">
  <fieldset class="form-group">
    <label asp-for="Name" class="control-label col-xs-2"></label>
      <div class="col-xs-10">
    <input asp-for="Name"class="form-control" />
          </div>
      </fieldset>
    <br />
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
    <button class="btn btn-primary" type="submit">Add Role </button>
            </div>
        </div>
</form>
