@model IEnumerable<CourseProject_SoftwareArchitecture.Models.Lesson>    
<p><a asp-controller="Admin" asp-action="AddLesson">Add a lesson</a></p>
@{
    if (Model.Count() < 1)
    {
        <p>No lessons in database yet.</p>
    }
    else
    {
        <h3>All Lessons</h3>
        <table border="1">
            <tr>
                <th>Lesson ID</th>
                <th>Skill Level</th>
                <th>Tuition</th>
            </tr>
            @foreach (var lessons in Model)
            {
             <tr>
                 <td>@lessons.LessonId</td>
                 <td>@lessons.SkillLevel</td>
                 <td>@lessons.Tuition</td>
             </tr>
            }
        </table>
    }
}
