<!Doctype html>
<html>
<head>

    <meta charset="utf-8" />
    <title>CourseProject_SoftwareArchitecture</title>

</head>
<body>
    <h2>Admin Home</h2>

    <p><a asp-controller="Admin" asp-action="AllRole">Show all roles</a></p>

    <p><a asp-controller="Admin" asp-action="AddRole">Add a role</a></p>

    <p><a asp-controller="Admin" asp-action="AllUser">Assign user to a role</a></p>

    <p><a asp-controller="Admin" asp-action="ShowLessons">Show all lessons</a></p>

    <p><a asp-controller="Admin" asp-action="AddLesson">Add a lesson</a></p>

</body>
</html>