@model CourseProject_SoftwareArchitecture.ViewModels.AccountRegisterViewModel
<h2>User Registration</h2>
<form asp-action="Register" method="post" class="form-horizontal">
    <div asp-validation-summary="All"></div>
    <fieldset class="form-group">
        <label asp-for="Email" class="control-label col-xs-2">  </label>
        <div class="col-xs-10">
            <input asp-for="Email" class="form-control" />
        </div>
    </fieldset>
    <span asp-validation-for="Email"></span>
    <br />
    <fieldset class="form-group">
        <label asp-for="Password" class="control-label col-xs-2"> </label>
        <div class="col-xs-10">
            <input asp-for="Password" class="form-control" />
        </div>
    </fieldset>
    <span asp-validation-for="Password"></span>
    <br />
    <fieldset class="form-group">
        <label asp-for="ConfirmPassword" class="control-label col-xs-2"> </label>
        <div class="col-xs-10">
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
    </fieldset>
    <span asp-validation-for="ConfirmPassword"></span>
    <br />
    <button class="btn btn-primary" type="submit">Register</button>   
</form>