<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    

</head>
<body>
    <h1>Registration Success</h1>
    <p>Thank you for registrating at 3S. Your role will be assigned shortly.</p>

</body>
</html>