@model CourseProject_SoftwareArchitecture.Models.Coach
<h2> Add your Profile</h2>
<form asp-action="AddProfile">
    <input asp-for="@Model.UserId" type="hidden" />
    <label asp-for="CoachName"></label>
    <input asp-for="CoachName" />
    <br />
    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <br />
    <button type="submit">Add Profile</button>
    </form>
<p><a asp-action="Index">Back to coach home</a></p>
