
<!--Creating this page to view all sessions by all coaches, mainly for testing/debugging BFRY-->
@model IEnumerable<CourseProject_SoftwareArchitecture.Models.Lesson>
@{
    if (Model.Count() < 1)
    {
        <p>No lessons in database yet.</p>
    }
    else
    {
        <h3>All Lessons</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Lesson ID</th>
                    <th>Skill Level</th>
                    <th>Add Session</th>
                </tr>
                @foreach (var lessons in Model)
                {
                    <tr>
                        <td>@lessons.LessonId</td>
                        <td>@lessons.SkillLevel</td>
                        <td>
                            <a asp-controller="Coach"
                               asp-action="AddSession"
                               asp-route-id="@lessons.LessonId">
                                Add a Session
                            </a>
                        </td>
                    </tr>
                }
            </table>
            </div>
            }
            }
