<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Coach Home</title>

</head>
<body>
    <h1>Welcome to the Coach Home Page</h1>

    <p><a asp-controller="Coach" asp-action="AddProfile">Add Profile</a></p>
    <p><a asp-controller="Coach" asp-action="AddSession">Add a Session</a></p>
    <p><a asp-controller="Coach" asp-action="ProgressReport">Add Profile</a></p>

</body>
</html>


