@model List<CourseProject_SoftwareArchitecture.Models.Enrollment>
<h2>Enter Comments</h2>
<form asp-controller="Coach" asp-action="ProgressReport" method="post">
    <table border="1">
        <tr>
            <th></th>
            <th>Student ID</th>
            <th>Comments</th>
        </tr>
    </table>
   
</form>